@value colors: "./colors.css";
@value foundersOrange from colors;
@value borderColor from colors;
@value textColor from colors;

.actionGrid {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  height: 40vh;
}

.actionGrid > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.actionGrid button {
  background: none;
  color: foundersOrange;
  border: 1px solid foundersOrange;
  border-radius: 4px;
  padding: 12px 30px;
  margin: 0 auto;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.actionGrid > * > h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

.actionGrid > * > p {
  margin: 0.25em 0 1em;
  text-align: center;
  font-size: 18px;
}

.actionGrid > * + * {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid borderColor;
}

/* ONBOARDING */

.onboardingHeader {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}

.onboardingHeader button,
.onboardingButtonSmall {
  background: none;
  color: foundersOrange;
  border: 1px solid foundersOrange;
  border-radius: 4px;
  padding: 6px 18px;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.onboardingButtonSmall:hover {
  background-color: foundersOrange;
}

/* ORG SELECTOR */

.orgSelector {
  display: block;
  padding: 9px 0 0;
}

.orgSelector > input {
  width: calc(100% - 27px);
  border: 1px solid borderColor;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 13.5px;
  margin-top: 4.5px;
  margin-left: 13.5px;
  margin-bottom: 13.5px;
  font-size: 16px;
}

.orgSelector > ul {
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.orgSelector > ul > li {
  display: flex;
  align-items: center;
  padding: 9px 18px;
  justify-content: space-between;
  border-top: 1px solid borderColor;
}

.orgSelector > ul > li > button {
  background: none;
  color: foundersOrange;
  border: 1px solid foundersOrange;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 15ch;
}

.orgSelector > ul > li > button:disabled,
.onboardingButtonSmall:disabled {
  background-color: borderColor;
  color: #3c3c3c99;
  border-color: #3c3c3c99;
  cursor: not-allowed;
}

.orgSelector > ul > li > * + * {
  margin-left: 10px;
}

.orgSelector > ul > li > span {
  display: flex;
  align-items: center;
}

.orgSelector > ul > li > span > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
