@value colors: "./colors.css";
@value cBlue from colors;

@media (min-width: 600px) {
  .directoryWrapper {
    display: flex;
  }

  .leftWrapper {
    width: 330px;
    margin-right: 18px;
  }

  .rightWrapper {
    flex: 3;
  }
}

@media (max-width: 600px) {
  .leftWrapper {
    padding-bottom: 2em;
  }
}

.desc {
  margin: 0 0 40px;
  font-weight: 400;
  line-height: 150%;
}
