@value colors: "./colors.css";
@value cBlue from colors;

.directoryWrapper {
  display: flex;
}

.leftWrapper {
  flex: 1;
  margin-right: 18px;
}

.rightWrapper {
  flex: 3;
}

.desc {
  margin: 0 0 40px;
  font-weight: 400;
  line-height: 150%;
}
