@value colors: "./colors.css";
@value borderColor from colors;
@value foundersOrange from colors;
@value textColor from colors;
@value pureWhiteColor from colors;

.navWrapper {
  height: 70px;
  border-bottom: solid 1px borderColor;
  display: flex;
  justify-content: space-between;
  background-color: pureWhiteColor;
}

.logoWrapper {
  display: block;
  box-sizing: border-box;
  padding: 18.5px 30px;
}

.navLinks {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
}

.navLinks > li {
  display: inline-block;
  height: 100%;
}

.navLinks > li a,
.fakeLink {
  display: flex;
  height: 100%;
  padding: 0 19px;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 600;
  color: #3c3c3c99;
}

.fakeLink {
  cursor: default;
}

.fakeLink > img,
.fakePicture {
  width: 32px;
  height: 32px;
  margin-right: 9px;
  border-radius: 50%;
}

.fakePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  background: foundersOrange;
  color: white;
}

.navLinks > li:last-child {
  margin-right: 11px;
}

.navLinks > li a.active {
  opacity: 1;
  color: foundersOrange;
}

.dropdown {
  position: relative;
  height: 100%;
}

.dropdown > div {
  position: absolute;
  top: 100%;
  /* padding: 38px; */
  background: pureWhiteColor;
  display: none;
  width: min(14ch, 100vw);
  right: 0;
}

.dropdown:hover > div {
  display: block;
  border: 1px solid borderColor;
}

.dropdown:hover > div > a:first-child {
  border-top: none;
}

.dropdown:hover > div > a {
  padding: 9px 0;
  border-top: 1px solid borderColor;
}

.dropdown:hover > div > a:hover {
  background: foundersOrange;
  color: white;
}
